public/twitterInsights.js
[{"id":"aa40d6e5.e39e78","type":"tab","label":"Flow 3"},{"id":"38b070c3.df84b","type":"http in","z":"aa40d6e5.e39e78","name":"/getUserTweets?screen_name=<xyz>&count=<n>","url":"/getUserTweets","method":"get","swaggerDoc":"","x":205,"y":298.94443130493164,"wires":[["dcdf67fd.c5a568"]]},{"id":"6506c736.73f4a8","type":"comment","z":"aa40d6e5.e39e78","name":"README","info":"Pre-req: Complete the instructions found in \"Request a Bearer token\" \n\nUsage: \nGET /getUserTweets?screen_name=<twitter screen name>\n\nExample:\n\nGET /getUserTweets?screen_name=bsilverm_IoT\n\nParameters:\n?screen_name - The screen name of the Twitter user\n?count (optional) - The number of tweets to retrieve from the user\n\nExample generated request: (for API usage see Twitter doc @ https://dev.twitter.com/rest/reference/get/statuses/user_timeline):\n\nhttps://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=bsilverm_IoT&count=10","x":490.11109924316406,"y":237.5,"wires":[]},{"id":"3cb5e7e2.a08868","type":"http request","z":"aa40d6e5.e39e78","name":"Issue Twitter API REST Request (GET)","method":"GET","ret":"txt","url":"https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={{{twitterSN}}}&count={{{count}}}","tls":"","x":822.4720611572266,"y":298.94441413879395,"wires":[["efab1633.070098"]]},{"id":"dcdf67fd.c5a568","type":"function","z":"aa40d6e5.e39e78","name":"Twitter AUTH headers","func":" msg.headers = {\n     'Authorization' : 'Bearer <key>',\n     'Content-Type' : 'application/x-www-form-urlencoded',\n  }\nmsg.twitterSN =  msg.req.query.screen_name;\nmsg.count = msg.req.query.count || 100;\nreturn msg;","outputs":1,"noerr":0,"x":522.3610610961914,"y":298.55552864074707,"wires":[["3cb5e7e2.a08868"]]},{"id":"de58db84.2e6b88","type":"http in","z":"aa40d6e5.e39e78","name":"/getToken","url":"/getToken","method":"get","swaggerDoc":"","x":186.11111450195312,"y":441.03332138061523,"wires":[["bacb358e.7581a8"]]},{"id":"642bc4c2.5ec4cc","type":"http request","z":"aa40d6e5.e39e78","name":"Request Bearer Token","method":"POST","ret":"txt","url":"https://api.twitter.com/oauth2/token","tls":"","x":506.3611297607422,"y":441.28339767456055,"wires":[["e10adf0b.d70bd"]]},{"id":"bacb358e.7581a8","type":"function","z":"aa40d6e5.e39e78","name":"headers","func":" msg.headers = {\n     'Authorization' : 'Basic <key>',\n     'Content-Type' : 'application/x-www-form-urlencoded'\n  };\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":323.1111145019531,"y":441.0333366394043,"wires":[["642bc4c2.5ec4cc"]]},{"id":"e10adf0b.d70bd","type":"http response","z":"aa40d6e5.e39e78","name":"Token Response","x":723.3611297607422,"y":441.28339767456055,"wires":[]},{"id":"5e6a2493.8d38bc","type":"comment","z":"aa40d6e5.e39e78","name":"Request a Bearer Token from Twitter (readme)","info":"Steps:\n\n1)  Go to apps.twitter.com and create an application.\n2)  Copy your consumer key and secret.\n3)  Build a string in this format: \"consumer key:secret\" (ie - \"12345:6789\")\n4)  Encode the string in base64 using any base64 encoding utility (some available on the web)\n5)  Double-click the \"headers\" node and paste your encoded string on line 2\nafter the word \"Basic \".  For example:\n\n'Authorization' : 'Basic cmFuZG9tdGV4dHJhbmRvbXRleHRyYW5kb210ZXh0OnJhbmRvbXRleHRyYW5kb210ZXh0cmFuZG9tdGV4dA==',\n\n6)  Deploy the flow\n7)  Execute the request by entering the following URL in your browser:\n\nhttp://<your node red URL>/getToken\n\n8)  If done correctly, you will be granted a bearer token\n9)  Copy the token in to line 2 of the \"Twitter AUTH headers\" node\n\nThis only needs to be done once, unless for some reason you need to invalidate\nthe token (ie - it is compromised and needs to be re-generated).\n\nFor more information on Application-only Authentication, see:\n\nhttps://dev.twitter.com/oauth/application-only","x":517.4111175537109,"y":380.83332443237305,"wires":[]},{"id":"7531560c.b9ee68","type":"watson-personality-insights-v3","z":"aa40d6e5.e39e78","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"x":1418.6250228881836,"y":296.00000381469727,"wires":[["e771dbdc.ed60e8"]]},{"id":"efab1633.070098","type":"function","z":"aa40d6e5.e39e78","name":"Parse All Tweets into One Big Tweet","func":"let allTweetsReceived = JSON.parse(msg.payload)\nlet combineAllTweets = []\nallTweetsReceived.forEach(function(tweets) {\n    combineAllTweets.push(tweets.text)\n})\ncombineAllTweets = combineAllTweets.join('.')\nmsg.payload = combineAllTweets\nreturn msg;","outputs":1,"noerr":0,"x":1153.750015258789,"y":297.25000190734863,"wires":[["7531560c.b9ee68"]]},{"id":"e65b4ce5.8b2fe","type":"http response","z":"aa40d6e5.e39e78","name":"","x":2238.25,"y":297.25,"wires":[]},{"id":"e771dbdc.ed60e8","type":"change","z":"aa40d6e5.e39e78","name":"Return Insights","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1609.0000228881836,"y":297.75000190734863,"wires":[["b5c2193.8133ee8"]]},{"id":"b5c2193.8133ee8","type":"template","z":"aa40d6e5.e39e78","name":"Display Analysis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Twitter Personality</title>\n    </head>\n    <body>\n        {{#payload.personality}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentile}})</li>\n                {{/children}}\n            </ul>\n        {{/payload.personality}}\n\n\n        <h2>Needs</h2>\n        <ul>\n            {{#payload.needs}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.needs}}\n        </ul>\n\n\n        <h2>Values</h2>\n        <ul>\n            {{#payload.values}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.values}}\n        </ul>\n    </body>\n</html>","x":1811.0000267028809,"y":296.50000381469727,"wires":[["bd53da34.3cea88"]]},{"id":"bd53da34.3cea88","type":"function","z":"aa40d6e5.e39e78","name":"Set Response Headers ","func":"msg.headers = {'content-type': 'text/html'}\nreturn msg;","outputs":1,"noerr":0,"x":2042.7500305175781,"y":296.25000190734863,"wires":[["e65b4ce5.8b2fe"]]}]
