public/twitterInsights.js
[{"id":"e89bcf4f.4e3cf","type":"tab","label":"Tweets to IBM Watson Personality Insights"},{"id":"bbfb1e2c.1852e","type":"http in","z":"e89bcf4f.4e3cf","name":"/getUserTweets?screen_name=<xyz>&count=<n>","url":"/getUserTweets","method":"get","swaggerDoc":"","x":205,"y":298.94443130493164,"wires":[["a1aec4fd.6f3248"]]},{"id":"2437d3.4cadb82e","type":"comment","z":"e89bcf4f.4e3cf","name":"README","info":"Pre-req: Complete the instructions found in \"Request a Bearer token\" \n\nUsage: \nGET /getUserTweets?screen_name=<twitter screen name>\n\nExample:\n\nGET /getUserTweets?screen_name=bsilverm_IoT\n\nParameters:\n?screen_name - The screen name of the Twitter user\n?count (optional) - The number of tweets to retrieve from the user\n\nExample generated request: (for API usage see Twitter doc @ https://dev.twitter.com/rest/reference/get/statuses/user_timeline):\n\nhttps://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=bsilverm_IoT&count=10","x":490.11109924316406,"y":237.5,"wires":[]},{"id":"1f5e4646.4dac7a","type":"http request","z":"e89bcf4f.4e3cf","name":"Issue Twitter API REST Request (GET)","method":"GET","ret":"txt","url":"https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={{{twitterSN}}}&count={{{count}}}","tls":"","x":822.4720611572266,"y":298.94441413879395,"wires":[["363b593f.7b25d6"]]},{"id":"a1aec4fd.6f3248","type":"function","z":"e89bcf4f.4e3cf","name":"Twitter AUTH headers","func":" msg.headers = {\n     'Authorization' : 'Bearer <key>',\n     'Content-Type' : 'application/x-www-form-urlencoded',\n  }\nmsg.twitterSN =  msg.req.query.screen_name;\nmsg.count = msg.req.query.count || 100;\nreturn msg;","outputs":1,"noerr":0,"x":522.3610610961914,"y":298.55552864074707,"wires":[["1f5e4646.4dac7a"]]},{"id":"37dd6898.a34178","type":"http in","z":"e89bcf4f.4e3cf","name":"/getToken","url":"/getToken","method":"get","swaggerDoc":"","x":186.11111450195312,"y":441.03332138061523,"wires":[["becff90c.a79678"]]},{"id":"7ea52b4f.030164","type":"http request","z":"e89bcf4f.4e3cf","name":"Request Bearer Token","method":"POST","ret":"txt","url":"https://api.twitter.com/oauth2/token","tls":"","x":506.3611297607422,"y":441.28339767456055,"wires":[["1e351e3d.6f7b82"]]},{"id":"becff90c.a79678","type":"function","z":"e89bcf4f.4e3cf","name":"headers","func":" msg.headers = {\n     'Authorization' : 'Basic <key>',\n     'Content-Type' : 'application/x-www-form-urlencoded'\n  };\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":323.1111145019531,"y":441.0333366394043,"wires":[["7ea52b4f.030164"]]},{"id":"1e351e3d.6f7b82","type":"http response","z":"e89bcf4f.4e3cf","name":"Token Response","x":723.3611297607422,"y":441.28339767456055,"wires":[]},{"id":"645aa1e4.fd4b3","type":"comment","z":"e89bcf4f.4e3cf","name":"Request a Bearer Token from Twitter (readme)","info":"Steps:\n\n1)  Go to apps.twitter.com and create an application.\n2)  Copy your consumer key and secret.\n3)  Build a string in this format: \"consumer key:secret\" (ie - \"12345:6789\")\n4)  Encode the string in base64 using any base64 encoding utility (some available on the web)\n5)  Double-click the \"headers\" node and paste your encoded string on line 2\nafter the word \"Basic \".  For example:\n\n'Authorization' : 'Basic cmFuZG9tdGV4dHJhbmRvbXRleHRyYW5kb210ZXh0OnJhbmRvbXRleHRyYW5kb210ZXh0cmFuZG9tdGV4dA==',\n\n6)  Deploy the flow\n7)  Execute the request by entering the following URL in your browser:\n\nhttp://<your node red URL>/getToken\n\n8)  If done correctly, you will be granted a bearer token\n9)  Copy the token in to line 2 of the \"Twitter AUTH headers\" node\n\nThis only needs to be done once, unless for some reason you need to invalidate\nthe token (ie - it is compromised and needs to be re-generated).\n\nFor more information on Application-only Authentication, see:\n\nhttps://dev.twitter.com/oauth/application-only","x":517.4111175537109,"y":380.83332443237305,"wires":[]},{"id":"64af3744.99bcf8","type":"watson-personality-insights-v3","z":"e89bcf4f.4e3cf","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"x":1418.6250228881836,"y":296.00000381469727,"wires":[["851799d1.6648b8"]]},{"id":"363b593f.7b25d6","type":"function","z":"e89bcf4f.4e3cf","name":"Parse All Tweets into One Big Tweet","func":"let allTweetsReceived = JSON.parse(msg.payload)\nlet combineAllTweets = []\nallTweetsReceived.forEach(function(tweets) {\n    combineAllTweets.push(tweets.text)\n})\ncombineAllTweets = combineAllTweets.join('.')\nmsg.payload = combineAllTweets\nreturn msg;","outputs":1,"noerr":0,"x":1153.750015258789,"y":297.25000190734863,"wires":[["64af3744.99bcf8"]]},{"id":"458360fc.525a8","type":"http response","z":"e89bcf4f.4e3cf","name":"","x":2238.25,"y":297.25,"wires":[]},{"id":"851799d1.6648b8","type":"change","z":"e89bcf4f.4e3cf","name":"Return Insights","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1609.0000228881836,"y":297.75000190734863,"wires":[["98b4dc31.ca9cc"]]},{"id":"98b4dc31.ca9cc","type":"template","z":"e89bcf4f.4e3cf","name":"Display Analysis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Twitter Personality</title>\n    </head>\n    <body>\n        {{#payload.personality}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentile}})</li>\n                {{/children}}\n            </ul>\n        {{/payload.personality}}\n\n\n        <h2>Needs</h2>\n        <ul>\n            {{#payload.needs}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.needs}}\n        </ul>\n\n\n        <h2>Values</h2>\n        <ul>\n            {{#payload.values}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.values}}\n        </ul>\n    </body>\n</html>","x":1811.0000267028809,"y":296.50000381469727,"wires":[["1873bc03.a1cfd4"]]},{"id":"1873bc03.a1cfd4","type":"function","z":"e89bcf4f.4e3cf","name":"Set Response Headers ","func":"msg.headers = {'content-type': 'text/html'}\nreturn msg;","outputs":1,"noerr":0,"x":2042.7500305175781,"y":296.25000190734863,"wires":[["458360fc.525a8"]]}]
